:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #B6B6B6;
  --zLow: -1;
  --zMiddle: 0;
  --zTop: 1;
  --zTopMost: 2;
}
@font-face {
  font-family: "Agrandir-bold";
  src: local("Agrandir-bold"),
   url("./assets/agrandir-bold.ttf") format("truetype");
  font-weight: bold;
 }
html{
  background-color: var(--black);
}
body {
  font-family: 'Agrandir-bold"', sans-serif;
  margin: 0px;
  font-weight: 800;
  text-transform: uppercase;
  font-weight: bold;
  overflow: hidden;
}

.container {
  background-color: var(--black);
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/bgImage.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem 3rem;
}

.navBarElement{
  color: var(--white);
}
.heroTextContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 100%;

}
.heroText{
  color: var(--white);
  font-size: 17rem;
  word-wrap: break-word;
  line-height: 1;
  text-align: center;
  line-height: 13.375rem;
  letter-spacing: 0.03125rem;
  font-weight: 900;
}
.heroTextSpecific{
  position: relative;
  z-index: var(--zTopMost);
}
.cashAppDemoPhone{
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  width: 30rem;
  height: 33rem;
  z-index: var(--zMiddle);
  transform: rotate(2deg);
}
.navBarElement{
  margin: 0 1rem;
}
.cube{
  position: absolute;
  top: 5rem;
  left: 10rem;
}
.stairs{
  position: absolute;
  top: 8rem;
  right: 15rem;
}
.cubes{
  position: absolute;
  bottom: 4rem;
  left: 10rem;
  z-index: var(--zMiddle);
}
.pillars{
  position: absolute;
  bottom: 0rem;
  right: 15rem;
}
/* footer */
.footer{
 position: absolute;
 bottom: 0;
 display: flex;
 width: 100%;
 justify-content: space-between;
 align-items: center;
 flex-direction:row;
 margin-bottom: 1rem;
}

.termsAndConditions{
  color: var(--grey);
  font-family: Mulish;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.8125rem; /* 130% */
  width: 22.69rem;
  z-index: var(--zTop);
  margin-left: 10rem;
}
.storeLink{
  color: var(--white);
  display: flex;
  gap: 1.25rem;
  margin-left: 2.5rem;
}
.appStoreButtons {
  border-radius: 4px;
  border: 1px solid var(--white);
  background: var(--black);
  color: var(--white);
  display: inline-flex;
  width: 10.50rem;
  max-width: 12.25rem;
  height: 3.125rem;
  padding: 1.5625rem;
  justify-content: space-between;
  align-items: center;
  font-family: 'Martel Sans', sans-serif;
  text-transform: uppercase;
  z-index: var(--zTop);
  gap: 1rem;
  white-space: nowrap;
}
.downArrow{
  position: absolute;
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
}
.socialIcons{
  display: flex;
  gap: 1.25rem;
  margin: 2.5rem;
}

@media (max-width: 768px) {
  .body{
    overflow: scroll;
    background-image: url(./assets/bgImage.svg);
    background-repeat: no-repeat;
  }
  .cube{
   display: none;
  }
  .stairs{
  display: none;
  }
  .cubes{
    display: none;
  }
  .pillars{
    display: none;
  } 
  .footer{
    background-color: var(--black);
    position: initial;
    display: flex;
    flex-direction: column;
  }
  .cashAppDemoPhone{
    transform: rotate(-20deg);
    position: relative;
    margin-top: 10rem;
    width: 15rem;
    height: 25rem;
    justify-self: center;
  }

  .heroTextContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }
  .heroText{
    color: var(--white);
    font-size: 5rem;
    word-wrap: break-word;
    line-height: 1;
    text-align: center;
    line-height: 5.375rem;
    letter-spacing: 0.03125rem;
  }
  .heroText{
    width: 100%;
    height: 100%;
  }
  .downArrow{
    display: none;
  }
  .storeLink{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 2rem;
  }
  .navBarElement{
    display: none;
  }

 .termsAndConditions{
     display: none;
   }
  .socialIcons{
    padding-bottom: 300px;
  }
}
